.background-container{
    display: flex;
    flex-direction: column;
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.fab {
    position: fixed;
    right: 20px;
    bottom: 15px;
    margin-left: -28px;
}

.form {
    flex-grow: 1;
    padding: 20px;
}

.full-width {
    width: 100%;
}

.respuestas-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.edit-column {
    display: flex;
    justify-content: flex-end;
}

.spacer {
    display: flex;
    flex: 1 1;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #777;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.consecuencias-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  padding: 0.5rem;
}

.consecuencia-account-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-consecuencia-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  padding: 0.5rem;
}

.cuenta {
  font-size: x-large;
  font-weight: lighter;
}

.table{
  width: 100%;
}

.consec-detail-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.consec-detail-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15px;
  padding-right: 15px;
}

.consecuencia-value {
  font-weight: bold;
}

.mat-card-content {
  margin-bottom: 0;
}

.mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}