<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/decisiones">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 *ngIf="!decision.id">Nueva Decision</h1>
    <h1 *ngIf="decision.id">Editar Decision</h1>
  </mat-toolbar-row>
</mat-toolbar>


<form [formGroup]="decisionForm" class="form">
  <mat-form-field class="full-width">
    <input matInput placeholder="Descripcion" [formControl]="descripcion" [(ngModel)]="decision.descripcion"
      [(value)]="decision.descripcion">
    <mat-error *ngIf="descripcion.invalid">Required field</mat-error>
  </mat-form-field>
</form>


<mat-toolbar color="secundary">
  <h1>Opciones</h1>
  <span class="spacer"></span>
  <button mat-icon-button (click)="addOpcion()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>


<table mat-table [dataSource]="decision.opciones" multiTemplateDataRows class="table">

  <!-- Descripcion Column -->
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let opcion"> {{opcion.descripcion}} </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit" stickyEnd>
    <th mat-header-cell *matHeaderCellDef style="table-header"></th>
    <td mat-cell *matCellDef="let opcion">
      <div class="edit-column">
        <button mat-icon-button (click)="editOpcion(opcion)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeOpcion(opcion)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let opcion" [attr.colspan]="displayedColumns.length">
      <div class="element-detail" [@detailExpand]="opcion == expandedOpcion ? 'expanded' : 'collapsed'">
        <div class="consecuencias-container">
          <div class="consecuencia-card" *ngFor="let consecuencia of opcion.consecuencias">
            <div class="consecuencia-account-buttons">
              <span class="cuenta">{{ consecuencia.cuenta }}</span>
              <div>
                <button mat-icon-button (click)="editConsecuencia(consecuencia)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="removeConsecuencia(opcion,consecuencia)">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
            <div class="consecuencia-trend-container">
              <mat-icon class="trend trend-icon">trending_up</mat-icon>
              <span class="trend">{{ consecuencia.valor }}%</span>
            </div>
          </div>
          <div class="add-consecuencia-card">
            <button mat-icon-button color="primary" (click)="addConsecuencia(opcion)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let opcion; columns: displayedColumns;" class="element-row"
    [class.expanded-row]="expandedOpcion === opcion"
    (click)="expandedOpcion = expandedOpcion === opcion ? null : opcion">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>








<button mat-fab color="primary" class="fab" (click)="save()">
  <mat-icon>done</mat-icon>
</button>