@media screen and (min-width: 769px) {

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto;
        grid-gap: 10px;
        padding: 20px;
    }

    .podium-item-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    
    .podium-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "segundo primero tercero";
        padding:10px;
        grid-gap: 10px;
    }
    
    
    .first-place-image{
        height: 120px; 
        border-radius: 50%
    }

    .gold-medal-image{
        height: 60px;
        margin-top: -15px;
    }

}

@media screen and (max-width: 768px) {

    .card-container > * {
        margin-top: 10px;
    }

    .podium-item-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    
    .podium-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "primero" "segundo" "tercero";
        padding:10px;
        grid-gap: 20px;
    }

    .first-place-image{
        height: 85px; 
        border-radius: 50%
    }

    .gold-medal-image{
        height: 45px;
        margin-top: -13px;
    }

}

.primero {
    grid-area: primero;
}

.segundo {
    grid-area: segundo;
}

.tercero {
    grid-area: tercero;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mat-card-header{
    display: flex;
    justify-content: space-between;
}

.mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spacer {
    flex: 1 1 auto;
}


.second-place-image{
    height: 85px; 
    border-radius: 50%
}

.third-place-image{
    height: 85px; 
    border-radius: 50%
}

.silver-medal-image{
    height: 45px;
    margin-top: -13px;
}

.bronze-medal-image{
    height: 45px;
    margin-top: -13px;
}

.winner-name-text{
    margin-top:8px;
    font-size: larger;
    font-weight: 500;
    
}

.result-overview-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:5px;
    margin-bottom: 5px;
}

.overview-image{
    height: 20px;
    margin-right: 8px;
}

.escenario-header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disclaimer-cont{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}