.form{
    display: flex;
    flex-direction: column;
    padding:20px;
}

.form-card{
    grid-area: form;
}

.archivos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.table{
    width: 100%;
    background: transparent;
    padding: 20px;
}

.table > * {
    height: 30px;
}

.value-column {
    text-align: right;
}

.desc-column {
    text-align: left;
}

.fab {
    position: fixed;
    right: 20px;
    bottom: 15px;
    margin-left: -28px;    
    z-index: 1;
}

.mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mat-card-content {
    margin-bottom: 0;
}

.acciones-container {
    padding: 20px;
}

.jugadores-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 20px;
}

.ventas-avatar{
    background-image: url('../../assets/img/ventas.png');
    background-size: cover;
}

.desc-column {
    text-align: left;
}

.value-column {
    text-align: right;
    width: 50px;
}

.value-column-cantidad{
    text-align: right;
    width: 100px;
}

.form-container{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "form balance balance balance" "form estado estado estado";
    grid-gap: 20px;
    padding:20px;
}


.balance-form{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 10px 16px;
}

.balance-inicial-card{
    grid-area: balance;
    padding:20px;
}

.estado-inicial-card{
    grid-area: estado;
    padding:20px;
}

.balance-inicial-content{
    display: flex;
    flex-direction: row;
}

.estado-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 10px 16px;
}

.patrimonio-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 10px 16px;
}

.precio-intervalo-container{
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.precio-intervalo{
    grid-area: precio-intervalo;
}

.mat-expansion-panel-header {   
    font-size: 16px;
    font-weight: 500;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
  }

.mat-expansion-panel-header-title {
    align-items: center;
    padding:5px;
}

.mat-expansion-panel-header {
    padding: 0 10px;
}

.competencia-avatar{
    background-image: url('../../assets/img/competencia.png');
    background-size: cover;
}

.precio-avatar{
    background-image: url('../../assets/img/precio.png');
    background-size: cover;
}


.tabla-ponderadora-content{
    padding:20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "forecast precio-intervalo" "forecast accordion-tables"  "empresas accordion-tables";
    grid-gap: 20px;
}

.forecast{
    grid-area: forecast;
}

.accordion-tables{
    grid-area: accordion-tables;
}

.empresas{
    grid-area: empresas;
}

.avatar-img{
    height: 30px;
    margin-right: 10px;
}