<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/escenarios">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 *ngIf="!escenario.id">Nuevo Escenario</h1>
    <h1 *ngIf="escenario.id">Editar Escenario</h1>
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="escenarioForm" class="form">
  <mat-form-field class="form-field">
    <input matInput placeholder="Titulo" [formControl]="titulo" [(ngModel)]="escenario.titulo"
      [(value)]="escenario.titulo">
    <mat-error *ngIf="escenario.invalid">Required field</mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <input  type="number" matInput placeholder="Cantidad de Periodos" [formControl]="periodos" [(ngModel)]="escenario.periodos"
      [(value)]="escenario.periodos">
    <mat-error *ngIf="escenario.invalid">Required field</mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <textarea cdkTextareaAutosize matInput placeholder="Descripcion" [formControl]="descripcion"
      [(ngModel)]="escenario.descripcion" [(value)]="escenario.descripcion"></textarea>
    <mat-error *ngIf="escenario.invalid">Required field</mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
      <input  type="number" matInput placeholder="Porcentaje de Impuestos" [formControl]="impuestoPorcentaje" [(ngModel)]="escenario.impuestoPorcentaje"
        [(value)]="escenario.impuestoPorcentaje">
      <mat-error *ngIf="escenario.invalid">Required field</mat-error>
    </mat-form-field>
</form>
<div>
</div>

<app-decisiones *ngIf="escenario.id" [escenario]="escenario"></app-decisiones>

<button mat-fab color="primary" class="fab" (click)="save()">
  <mat-icon>done</mat-icon>
</button>