<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/escenarios">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 *ngIf="!escenario.id">Nuevo Escenario</h1>
    <h1 *ngIf="escenario.id">Editar Escenario</h1>
  </mat-toolbar-row>
</mat-toolbar>
<div class="form-container">

  <mat-card class="form-card">
    <mat-card-content>
      <form [formGroup]="escenarioForm" class="form">
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Titulo" [formControl]="titulo" [(ngModel)]="escenario.titulo"
            [(value)]="escenario.titulo">
          <mat-error *ngIf="escenario.invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input type="number" matInput placeholder="Cantidad de Periodos" [formControl]="maximosPeriodos"
            [(ngModel)]="escenario.maximosPeriodos" [(value)]="escenario.maximosPeriodos">
          <mat-error *ngIf="escenario.invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="Nombre Periodos" [formControl]="nombrePeriodos"
            [(ngModel)]="escenario.nombrePeriodos" [(value)]="escenario.nombrePeriodos">
          <mat-error *ngIf="escenario.invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <textarea cdkTextareaAutosize matInput placeholder="Descripcion" [formControl]="descripcion"
            [(ngModel)]="escenario.descripcion" [(value)]="escenario.descripcion"></textarea>
          <mat-error *ngIf="escenario.invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input type="number" matInput placeholder="Porcentaje de Impuestos" [formControl]="impuestoPorcentaje"
            [(ngModel)]="escenario.impuestoPorcentaje" [(value)]="escenario.impuestoPorcentaje">
          <mat-error *ngIf="escenario.invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList>
            <mat-chip>
              Z1234
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip>
              L4567
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip>
              M4857
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Cursos" [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="balance-inicial-card" *ngIf="escenario.balanceInicial">
    <mat-card-header>
      <mat-card-title>Balance Inicial</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="margin-left:16px;">Activo</div>
      <form [formGroup]="activoForm" class="balance-form" *ngIf="escenario.balanceInicial.activo">
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Caja" [formControl]="caja"
            [(ngModel)]="escenario.balanceInicial.activo.caja" [(value)]="escenario.balanceInicial.activo.caja">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Cuentas a Cobrar" [formControl]="cuentasPorCobrar"
            [(ngModel)]="escenario.balanceInicial.activo.cuentasPorCobrar"
            [(value)]="escenario.balanceInicial.activo.cuentasPorCobrar">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Periodos Cuentas a Cobrar" [formControl]="cuentasPorCobrarPeriodos"
            [(ngModel)]="escenario.balanceInicial.activo.cuentasPorCobrarPeriodos"
            [(value)]="escenario.balanceInicial.activo.cuentasPorCobrarPeriodos">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Maquinaria" [formControl]="maquinaria"
            [(ngModel)]="escenario.balanceInicial.activo.maquinaria"
            [(value)]="escenario.balanceInicial.activo.maquinaria">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Inventario" [formControl]="inventario"
            [(ngModel)]="escenario.balanceInicial.activo.inventario"
            [(value)]="escenario.balanceInicial.activo.inventario">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Amortizacion Acumulada" [formControl]="amortizacionAcumulada"
          [(ngModel)]="escenario.balanceInicial.activo.amortizacionAcumulada"
          [(value)]="escenario.balanceInicial.activo.amortizacionAcumulada">
        </mat-form-field>
      </form>
      <div style="margin-left:16px;">Pasivo</div>
      <form [formGroup]="pasivoForm" class="balance-form" *ngIf="escenario.balanceInicial.pasivo">
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Proveedores" [formControl]="proveedores"
          [(ngModel)]="escenario.balanceInicial.pasivo.proveedores"
          [(value)]="escenario.balanceInicial.pasivo.proveedores">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Periodos Proveedores" [formControl]="proveedoresPeriodos"
          [(ngModel)]="escenario.balanceInicial.pasivo.proveedoresPeriodos"
          [(value)]="escenario.balanceInicial.pasivo.proveedoresPeriodos">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Deudas Bancarias" [formControl]="deudasBancarias"
          [(ngModel)]="escenario.balanceInicial.pasivo.deudasBancarias"
          [(value)]="escenario.balanceInicial.pasivo.deudasBancarias">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Periodos Deudas Bancarias" [formControl]="deudasBancariasPeriodos"
          [(ngModel)]="escenario.balanceInicial.pasivo.deudasBancariasPeriodos"
          [(value)]="escenario.balanceInicial.pasivo.deudasBancariasPeriodos">
        </mat-form-field>
      </form>
      <div style="margin-left:16px;">Patrimonio Neto</div>
      <form [formGroup]="patrimonioNetoForm" class="balance-form" *ngIf="escenario.balanceInicial.patrimonioNeto">
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Capital Social"  [formControl]="capitalSocial"
          [(ngModel)]="escenario.balanceInicial.patrimonioNeto.capitalSocial"
          [(value)]="escenario.balanceInicial.patrimonioNeto.capitalSocial">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input autofocus matInput placeholder="Capital Social"  [formControl]="resultadoDelEjercicio"
          [(ngModel)]="escenario.balanceInicial.patrimonioNeto.resultadoDelEjercicio"
          [(value)]="escenario.balanceInicial.patrimonioNeto.resultadoDelEjercicio">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

</div>

<app-financiaciones *ngIf="escenario.id" [escenario]="escenario"></app-financiaciones>
<app-proveedores *ngIf="escenario.id" [escenario]="escenario"></app-proveedores>
<app-decisiones *ngIf="escenario.id" [escenario]="escenario"></app-decisiones>


<button mat-fab color="primary" class="fab" (click)="save()">
  <mat-icon>save</mat-icon>
</button>