.form{
    display: flex;
    flex-direction: column;
    padding:20px;
}

.form-card{
    grid-area: form;
}

.archivos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.table{
    width: 100%;
    background: transparent;
    padding: 20px;
}

.table > * {
    height: 30px;
}

.value-column {
    text-align: right;
}

.desc-column {
    text-align: left;
}

.fab {
    position: fixed;
    right: 20px;
    bottom: 15px;
    margin-left: -28px;
}

.mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mat-card-content {
    margin-bottom: 0;
}

.acciones-container {
    padding: 20px;
}

.jugadores-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 20px;
}

.ventas-avatar{
    background-image: url('../../assets/img/ventas.png');
    background-size: cover;
}

.desc-column {
    text-align: left;
}

.value-column {
    text-align: right;
    width: 50px;
}

.value-column-cantidad{
    text-align: right;
    width: 100px;
}

.form-container{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "form balance balance balance" "form estado estado estado";
    grid-gap: 20px;
    padding:20px;
}

.mat-card-header {
    align-items: end;
    justify-content: space-between;
}

.balance-form{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 10px 16px;
}

.balance-inicial-card{
    grid-area: balance;
    padding:20px;
}

.estado-inicial-card{
    grid-area: estado;
    padding:20px;
}

.balance-inicial-content{
    display: flex;
    flex-direction: row;
}

.estado-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 10px 16px;
}

.patrimonio-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 10px 16px;
}