<div class="card-container">


  <mat-card class="card caja">
    <mat-card-header>
      <div mat-card-avatar class="caja-avatar"></div>
      <mat-card-title>Caja</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="display: block" *ngIf="cajaChartProps">
        <canvas baseChart [datasets]="cajaChartProps.data" [labels]="cajaChartProps.labels"
          [options]="cajaChartProps.options" [legend]="cajaChartProps.legend" [chartType]="cajaChartProps.type">
        </canvas>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card producto" *ngIf="estadoActual && escenario">
    <mat-card-header>
      <div mat-card-avatar class="produccion-avatar"></div>
      <mat-card-title>Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="list">
        <div class="list-item">
          <p>Costo Fijo</p>
          <h3 *ngIf="estadoActual.costoFijo">$ {{ estadoActual.costoFijo.toLocaleString() }}</h3>
        </div>
        <div class="list-item">
          <p>Costo Variable x Unidad Producida</p>
          <h3 *ngIf="estadoActual.costoVariable">$ {{ estadoActual.costoVariable.toLocaleString() }}</h3>
        </div>
        <div class="list-item">
          <p>Produccion</p>
          <h3 *ngIf="estadoActual.produccionMensual">{{ estadoActual.produccionMensual.toLocaleString() }} u./{{escenario.nombrePeriodos}}</h3>
        </div>
        <div class="list-item">
          <p>Precio Final Producto</p>
          <h3 *ngIf="ultimoPrecioProducto">$ {{ ultimoPrecioProducto.toLocaleString() }}</h3>
        </div>
        <div class="list-item">
          <p>Stock Final</p>
          <h3 *ngIf="estadoActual.stock">{{ estadoActual.stock.toLocaleString() }} u.</h3>
        </div>
        <div class="list-item">
          <p>Calidad Final</p>
          <h3>
            <i class="material-icons" *ngFor="let calidad of getEvenNumber(estadoActual.calidad)">star</i>
            <i class="material-icons" *ngIf="getOddNumber(estadoActual.calidad)">star_half</i>
          </h3>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card ventas">
    <mat-card-header>
      <div mat-card-avatar class="ventas-avatar"></div>
      <mat-card-title>Ventas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="display: block" *ngIf="ventasChartProps">
        <canvas baseChart [datasets]="ventasChartProps.data" [labels]="ventasChartProps.labels"
          [options]="ventasChartProps.options" [legend]="ventasChartProps.legend" [chartType]="ventasChartProps.type">
        </canvas>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card ventas-stock">
    <mat-card-header>
      <div mat-card-avatar class="costos-avatar"></div>
      <mat-card-title>Ventas vs Stock</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="display: block" *ngIf="ventasVsStockChartProps">
        <canvas baseChart [datasets]="ventasVsStockChartProps.data" [labels]="ventasChartProps.labels"
          [options]="ventasVsStockChartProps.options" [legend]="ventasVsStockChartProps.legend"
          [chartType]="ventasVsStockChartProps.type">
        </canvas>
      </div>
    </mat-card-content>
  </mat-card>

</div>