<mat-toolbar color="secundary" *ngIf="escenario && curso">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/estado-juegos">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h4>{{escenario.titulo | titlecase}}</h4>
    <span class="spacer"></span>
    <mat-chip-list>
      <mat-chip color="primary" selected>ABIERTO</mat-chip>
    </mat-chip-list>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group *ngIf="escenario && curso">
  <mat-tab label="Resultados">
    <div class="jugadores-container">
      <mat-card class="general">
        <mat-card-header>
          <!--<div mat-card-avatar class="premios-avatar"></div>-->
          <mat-card-title>Ranking General</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let jugador of jugadores">
              <div class="ranking-list-item">
                <div class="ranking-list-item-avatar">
                  <img matListAvatar src="../../assets/img/gold-medal.png" style="margin-right: 5px;">
                  <h4 style="font-weight: 400; font-size: inherit;">{{jugador.usuarioNombre}}</h4>
                </div>
                <img *ngIf="jugador.usuarioFotoUrl" matListAvatar src="{{jugador.usuarioFotoUrl}}">
                <img *ngIf="!jugador.usuarioFotoUrl" matListAvatar src="../../assets/img/student.png">
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <mat-accordion class="charts-accordion headers-align">
        <mat-expansion-panel expanded="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="../../assets/img/ventas.png" class="avatar-img">
              Mejores Ventas
            </mat-panel-title>
            <mat-panel-description>
              <div style="display: flex; margin-right: 20px;">
                <img src="../../assets/img/one.png" class="number-avatar">
                <span>+1000</span>
              </div>
              <div style="display: flex;  margin-right: 20px;">
                <img src="../../assets/img/two.png" class="number-avatar">
                <span>+800</span>
              </div>
              <div style="display: flex;  margin-right: 20px;">
                <img src="../../assets/img/three.png" class="number-avatar">
                <span>+200</span>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="ventasChartProps" class="canvas-container">
            <canvas baseChart [datasets]="ventasChartProps.data" [labels]="ventasChartProps.labels"
              [options]="ventasChartProps.options" [legend]="ventasChartProps.legend"
              [chartType]="ventasChartProps.type">
            </canvas>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="../../assets/img/caja.png" class="avatar-img">
              Mejor Caja Final
            </mat-panel-title>
            <mat-panel-description>
              <div style="display: flex; margin-right: 20px;">
                <img src="../../assets/img/one.png" class="number-avatar">
                <span>+1000</span>
              </div>
              <div style="display: flex;  margin-right: 20px;">
                <img src="../../assets/img/two.png" class="number-avatar">
                <span>+800</span>
              </div>
              <div style="display: flex;  margin-right: 20px;">
                <img src="../../assets/img/three.png" class="number-avatar">
                <span>+200</span>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="canvas-container" *ngIf="ventasChartProps">
            <canvas baseChart [datasets]="ventasChartProps.data" [labels]="ventasChartProps.labels"
              [options]="ventasChartProps.options" [legend]="ventasChartProps.legend"
              [chartType]="ventasChartProps.type">
            </canvas>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="../../assets/img/costos.png" class="avatar-img">
              Mejor Renta
            </mat-panel-title>
            <mat-panel-description>
              <div style="display: flex; margin-right: 20px;">
                <img src="../../assets/img/one.png" class="number-avatar">
                <span>+1000</span>
              </div>
              <div style="display: flex;  margin-right: 20px;">
                <img src="../../assets/img/two.png" class="number-avatar">
                <span>+800</span>
              </div>
              <div style="display: flex;  margin-right: 20px;">
                <img src="../../assets/img/three.png" class="number-avatar">
                <span>+200</span>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="canvas-container" *ngIf="ventasChartProps">
            <canvas baseChart [datasets]="ventasChartProps.data" [labels]="ventasChartProps.labels"
              [options]="ventasChartProps.options" [legend]="ventasChartProps.legend"
              [chartType]="ventasChartProps.type">
            </canvas>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </mat-tab>
  <mat-tab label="Estado Actual">
    <div class="ventas-reales-content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Jugadores</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list class="jugadores-list">
            <mat-list-item *ngFor="let jugador of jugadores">
              <img *ngIf="jugador.usuarioFotoUrl" matListAvatar src="{{jugador.usuarioFotoUrl}}"
                [className]="jugador.entregado ? 'jugador-entregado' : 'jugador-no-entregado'">
              <img *ngIf="!jugador.usuarioFotoUrl" matListAvatar src="../../assets/img/student.png"
                [className]="jugador.entregado ? 'jugador-entregado' : 'jugador-no-entregado'">
              <h4 mat-line>{{jugador.usuarioNombre}}</h4>
              <p mat-line *ngIf="jugador.entregado" class="jugadores-list-subline">Entregado</p>
              <p mat-line *ngIf="!jugador.entregado" class="jugadores-list-subline">No Entregado</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Ventas Reales</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table class="mat-table table">
            <tr class="mat-header-row">
              <th class="mat-header-cell desc-column">Periodo</th>
              <th class="mat-header-cell value-column-cantidad">Cantidad</th>
              <th class="mat-header-cell value-column-cantidad">Precio Venta</th>
            </tr>
            <ng-container *ngFor="let forecast of forecasts">
              <tr class="mat-row" *ngIf="forecast.periodo > 0">
                <td class="mat-cell desc-column">{{escenario.nombrePeriodos}} {{forecast.periodo}}</td>
                <td class="mat-cell value-column-cantidad">
                  <mat-form-field style="text-align: right;width: 80px;">
                    <input type="number" matInput [(ngModel)]="forecast.cantidadUnidades"
                      [(value)]="forecast.cantidadUnidades" style="text-align: right;width: 80px;">
                    <span matSuffix>u.</span>
                  </mat-form-field>
                </td>
                <td class="mat-cell value-column-cantidad">
                  <mat-form-field style="text-align: right;width: 80px;">
                    <span matPrefix>$ &nbsp;</span>
                    <input type="number" matInput [(ngModel)]="forecast.precio" [(value)]="forecast.precio"
                      style="text-align: right;width: 80px;">
                  </mat-form-field>
                </td>
              </tr>

            </ng-container>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">CERRAR ESCENARIO</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>

</mat-tab-group>