.spacer {
    flex: 1 1 auto;
}

.value-column-cantidad{
    text-align: right;
    width: 100px;
}

.desc-column {
    text-align: left;
}

.table{
    width: 100%;
    background: transparent;
    padding: 10px;
}

.jugadores-content{
    padding:20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.tabla-ponderadora-content{
    padding:20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "forecast precio-intervalo" "forecast accordion-tables"  "empresas accordion-tables";
    grid-gap: 20px;
}

.forecast{
    grid-area: forecast;
}

.accordion-tables{
    grid-area: accordion-tables;
}

.empresas{
    grid-area: empresas;
}


.mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.jugadores-list{
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto;
}

.jugadores-container{
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-rows: 1fr ;
    grid-template-areas: "general charts";
    grid-gap: 20px;
    padding: 20px;
}

.general{
    grid-area: general;
}

.charts-accordion{
    grid-area: charts;
}

.legend{
    grid-area: legend;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
}

.ventas{ 
    grid-area: ventas;
}

.caja{
    grid-area: caja;
}

.renta{
    grid-area: renta;
}

.escenario-avatar{
    background-image: url('../../assets/img/success.png');
    background-size: cover;
}

.caja-avatar{
    background-image: url('../../assets/img/caja.png');
    background-size: cover;
}

.ventas-avatar{
    background-image: url('../../assets/img/ventas.png');
    background-size: cover;
}

.renta-avatar{
    background-image: url('../../assets/img/patrimonio-neto.png');
    background-size: cover;
}

.costos-avatar{
    background-image: url('../../assets/img/costos.png');
    background-size: cover;
}

.premios-avatar{
    background-image: url('../../assets/img/trophy.png');
    background-size: cover;
}

.competencia-avatar{
    background-image: url('../../assets/img/competencia.png');
    background-size: cover;
}

.precio-avatar{
    background-image: url('../../assets/img/precio.png');
    background-size: cover;
}

.number-avatar{
    height: 20px;
    margin-right: 5px;
}

.canvas-container{
    display: block;
}

.avatar-img{
    height: 30px;
    margin-right: 10px;
}

.mat-expansion-panel-header {   
    font-size: 16px;
    font-weight: 500;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
  }

.mat-expansion-panel-header-title {
    align-items: center;
    padding:5px;
}

.mat-expansion-panel-header {
    padding: 0 10px;
}

.jugadores-list-subline{
    font-weight: 200 !important;
}

.jugador-no-entregado {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border-color:#f44336;
    border-width: 1px;
    border-style: solid;
}

.jugador-entregado {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border-color:green;
    border-width: 1px;
    border-style: solid;
}

.ranking-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
}

.ranking-list-item-avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.fab {
    position: fixed;
    right: 20px;
    bottom: 15px;
    margin-left: -28px;
}

.puntajes-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:40px;
    padding:40px
}

.puntajes-form-detail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px;
    padding:40px
}

.puntajes-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
    padding:10px
}

.puntajes-input {
    text-align: right;
}

.puntajes-suffix{
    margin-left: 10px;
}
