<mat-toolbar color="secundary" *ngIf="escenario && curso">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/estado-juegos">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h4>{{escenario.titulo | titlecase}}</h4>
    <mat-chip-list style="margin-left:10px;">
      <mat-chip color="primary" selected>ABIERTO</mat-chip>
    </mat-chip-list>
    <span class="spacer"></span>
    <button mat-raised-button color="warn" (click)="cerrarEscenario()">CERRAR ESCENARIO</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group *ngIf="escenario && curso">
  <mat-tab label="Resultados">
    <app-rankings [escenario]="escenario" [curso]="curso"></app-rankings>
  </mat-tab>
  <mat-tab label="Jugadores">
    <div class="jugadores-content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Jugadores</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list class="jugadores-list">
            <mat-list-item *ngFor="let jugador of jugadores">
              <img *ngIf="jugador.usuarioFotoUrl" matListAvatar src="{{jugador.usuarioFotoUrl}}"
                [className]="jugador.entregado ? 'jugador-entregado' : 'jugador-no-entregado'">
              <img *ngIf="!jugador.usuarioFotoUrl" matListAvatar src="../../assets/img/student.png"
                [className]="jugador.entregado ? 'jugador-entregado' : 'jugador-no-entregado'">
              <h4 mat-line>{{jugador.usuarioNombre}}</h4>
              <p mat-line *ngIf="jugador.entregado" class="jugadores-list-subline">Entregado</p>
              <p mat-line *ngIf="!jugador.entregado" class="jugadores-list-subline">No Entregado</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>