<table class="mat-table table" *ngIf="presupuestoEconomico">

  <tr class="mat-header-row">
    <th class="mat-header-cell desc-column">Descripcion</th>
    <th *ngFor="let periodo of periodos | slice:1" class="mat-header-cell value-column"> {{escenario.nombrePeriodos}} {{periodo}} </th>
    <th class="mat-header-cell value-column">Totales</th>
  </tr>


  <!--VENTA-->
  <tr *ngIf="presupuestoEconomico.VENTA as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="desc-cuenta">
        {{ flujo.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos | slice:1" class="mat-cell value-column">
      {{ getCuentaPeriodo(flujo.montosPeriodo,periodo,false) }}
    </td>
    <td class="mat-cell value-column">
      {{ getTotalCuentaPeriodo(flujo.montosPeriodo,false) }}
    </td>
  </tr>
      
  <!--COMPRA-->
  <tr *ngIf="presupuestoEconomico.COSTO_PRODUCCION as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="desc-cuenta">
        {{ flujo.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos | slice:1" class="mat-cell value-column">
      {{ getCuentaPeriodo(flujo.montosPeriodo,periodo,true) }}
    </td>
    <td class="mat-cell value-column">
      {{ getTotalCuentaPeriodo(flujo.montosPeriodo,false) }}
    </td>
  </tr>

  <!--CM-->
  <tr *ngIf="presupuestoEconomico.CM as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="desc-cuenta">
        <b>
            {{ flujo.descripcion }}
        </b>
      </p>
    </td>
    <td *ngFor="let periodo of periodos | slice:1" class="mat-cell value-column">
      <p>
        {{ getCuentaPeriodo(flujo.montosPeriodo,periodo,false) }}
      </p>
    </td>
    <td class="mat-cell value-column">
      {{ getTotalCuentaPeriodo(flujo.montosPeriodo,false) }}
    </td>
  </tr>

  <!--OTROS-->
  <tr *ngIf="presupuestoEconomico.OTROS as flujo" class="mat-row">
    <td class="mat-cell">
      <p *ngFor="let cuenta of flujo.cuentas;" class="desc-cuenta">
        {{ cuenta.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos | slice:1" class="mat-cell value-column">
      <p *ngFor="let cuenta of flujo.cuentas">
        {{ getCuentaPeriodo(cuenta.cuentasPeriodo,periodo,true, false) }}
      </p>
    </td>
    <td class="mat-cell value-column">
      <p *ngFor="let cuenta of flujo.cuentas">
        {{ getTotalCuentaPeriodo(cuenta.cuentasPeriodo,false) }}
      </p>
    </td>
  </tr>

  <tr *ngIf="presupuestoEconomico.TOTAL as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="flujo-column">
        {{ flujo.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos | slice:1" class="mat-cell value-column flujo-column">
      {{ getCuentaPeriodo(flujo.montosPeriodo,periodo,true, false) }}
    </td>
    <td class="mat-cell value-column flujo-column">
      {{ getTotalCuentaPeriodo(flujo.montosPeriodo,false) }}
    </td>
  </tr>

</table>