
table {
    width: 100%;
    padding: 10px;
}

tr.mat-header-row {
    height: 36px;
}

.flujo-column {
    font-weight: bold;
}

.value-column {
    text-align: right;
}

.desc-column {
    text-align: left;
}