<table class="mat-table table" *ngIf="flujoFondos">

  <tr class="mat-header-row">
    <th class="mat-header-cell desc-column">Descripcion</th>
    <th *ngFor="let periodo of periodos" class="mat-header-cell value-column"> Periodo {{periodo}} </th>
  </tr>

  <!--INGRESOS_AFECTOS_A_IMPUESTOS-->
  <tr *ngIf="flujoFondos.INGRESOS_AFECTOS_A_IMPUESTOS as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="flujo-column">
        {{ flujo.descripcion }}
      </p>
      <p *ngFor="let cuenta of flujo.cuentas;">
        {{ cuenta.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos;" class="mat-cell value-column">
      <p>
        &nbsp;
      </p>
      <p *ngFor="let cuenta of flujo.cuentas;">
        {{ getCuentaPeriodo(cuenta.cuentasPeriodo,periodo,true) }}
      </p>
    </td>
  </tr>

  <!--EGRESOS_AFECTOS_A_IMPUESTOS-->
  <tr *ngIf="flujoFondos.EGRESOS_AFECTOS_A_IMPUESTOS as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="flujo-column">
        {{ flujo.descripcion }}
      </p>
      <p *ngFor="let cuenta of flujo.cuentas;">
        {{ cuenta.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos;" class="mat-cell value-column">
      <p>
        &nbsp;
      </p>
      <p *ngFor="let cuenta of flujo.cuentas;">
        {{ getCuentaPeriodo(cuenta.cuentasPeriodo,periodo,true) }}
      </p>
    </td>
  </tr>

  <!--UTILIDAD_ANTES_DE_IMPUESTOS-->
  <tr *ngIf="flujoFondos.UTILIDAD_ANTES_DE_IMPUESTOS as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="flujo-column">
        {{ flujo.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos;" class="mat-cell value-column">
      {{ getCuentaPeriodo(flujo.montosPeriodo,periodo,true) }}
    </td>
  </tr>

  <!--IMPUESTOS-->
  <tr *ngIf="flujoFondos.IMPUESTOS as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="flujo-column">
        {{ flujo.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos;" class="mat-cell value-column">
      {{ getCuentaPeriodo(flujo.montosPeriodo,periodo,true) }}
    </td>
  </tr>

  <!--UTILIDAD_DESPUES_DE_IMPUESTOS-->
  <tr *ngIf="flujoFondos.UTILIDAD_DESPUES_DE_IMPUESTOS as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="flujo-column">
        {{ flujo.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos;" class="mat-cell value-column">
      {{ getCuentaPeriodo(flujo.montosPeriodo,periodo,true) }}
    </td>
  </tr>

  <!--UTILIDAD_DESPUES_DE_IMPUESTOS-->
  <tr *ngIf="flujoFondos.UTILIDAD_DESPUES_DE_IMPUESTOS as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="flujo-column">
        {{ flujo.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos;" class="mat-cell value-column">
      {{ getCuentaPeriodo(flujo.montosPeriodo,periodo,true) }}
    </td>
  </tr>

  <!--AJUSTE_DE_GASTOS_NO_DESEMBOLSABLES-->
  <tr *ngIf="flujoFondos.AJUSTE_DE_GASTOS_NO_DESEMBOLSABLES as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="flujo-column">
        {{ flujo.descripcion }}
      </p>
      <p *ngFor="let cuenta of flujo.cuentas;">
        {{ cuenta.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos;" class="mat-cell value-column">
      <p *ngFor="let cuenta of flujo.cuentas;">
        {{ getCuentaPeriodo(cuenta.cuentasPeriodo,periodo,true) }}
      </p>
    </td>
  </tr>

  <!--FLUJO_DE_FONDOS-->
  <tr *ngIf="flujoFondos.FLUJO_DE_FONDOS as flujo" class="mat-row">
    <td class="mat-cell ">
      <p class="flujo-column">
        {{ flujo.descripcion }}
      </p>
    </td>
    <td *ngFor="let periodo of periodos;" class="mat-cell value-column flujo-column">
      {{ getCuentaPeriodo(flujo.montosPeriodo,periodo,true) }}
    </td>
  </tr>
</table>