<h1 mat-dialog-title>Editar Consecuencia</h1>

<div mat-dialog-content>
    <form [formGroup]="consecuenciaForm" class="form">
        <mat-form-field class="full-width">
            <input matInput placeholder="Descripción" type="text" [formControl]="descripcion"
                [(ngModel)]="consecuencia.descripcion" [(value)]="consecuencia.descripcion" required>
            <mat-error *ngIf="descripcion.invalid">Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Monto" [formControl]="monto" [(ngModel)]="consecuencia.monto"
                [(value)]="consecuencia.monto" required>
            <mat-error *ngIf="monto.invalid">Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Período Inicio" [formControl]="periodoInicio"
                [(ngModel)]="consecuencia.periodoInicio" [(value)]="consecuencia.periodoInicio" required>
            <mat-error *ngIf="periodoInicio.invalid">Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Cantidad Períodos" [formControl]="cantidadPeriodos"
                [(ngModel)]="consecuencia.cantidadPeriodos" [(value)]="consecuencia.cantidadPeriodos" required>
            <mat-error *ngIf="cantidadPeriodos.invalid">Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Tipo Cuenta</mat-label>
            <mat-select [formControl]="tipoCuenta" [(ngModel)]="consecuencia.tipoCuenta"
                [(value)]="consecuencia.tipoCuenta" required>
                <mat-option *ngFor="let tipoCuenta of tipoCuentas" [value]="tipoCuenta.key">
                    {{tipoCuenta.descripcion}}
                </mat-option>
            
            </mat-select>
            <mat-error *ngIf="cantidadPeriodos.invalid">Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Tipo Flujo de Fondos</mat-label>
            <mat-select [formControl]="tipoFlujoFondo" [(ngModel)]="consecuencia.tipoFlujoFondo"
                [(value)]="consecuencia.tipoFlujoFondo" required>
                <mat-option *ngFor="let tipoFlujoFondo of tipoFlujoFondos" [value]="tipoFlujoFondo.key">
                    {{tipoFlujoFondo.descripcion}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="tipoFlujoFondo.invalid">Campo requerido</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">CANCELAR</button>
    <button mat-button (click)="save()">ACEPTAR</button>
</div>