<h1 mat-dialog-title>Editar Consecuencia</h1>

<div mat-dialog-content>
    <form [formGroup]="consecuenciaForm" class="form">
        <mat-form-field class="full-width">
            <input matInput placeholder="Descripcion" type="text" [formControl]="descripcion"
                [(ngModel)]="consecuencia.descripcion" [(value)]="consecuencia.descripcion">
            <mat-error *ngIf="descripcion.invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Monto" [formControl]="monto" [(ngModel)]="consecuencia.monto"
                [(value)]="consecuencia.monto">
            <mat-error *ngIf="monto.invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Periodo Inicio" [formControl]="periodoInicio"
                [(ngModel)]="consecuencia.periodoInicio" [(value)]="consecuencia.periodoInicio">
            <mat-error *ngIf="periodoInicio.invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Cantidad Periodos" [formControl]="cantidadPeriodos"
                [(ngModel)]="consecuencia.cantidadPeriodos" [(value)]="consecuencia.cantidadPeriodos">
            <mat-error *ngIf="cantidadPeriodos.invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Tipo Cuenta</mat-label>
            <mat-select [formControl]="tipoCuenta" [(ngModel)]="consecuencia.tipoCuenta"
                [(value)]="consecuencia.tipoCuenta">
                <mat-option *ngFor="let tipoCuenta of tiposCuenta" [value]="tipoCuenta.key">
                    {{tipoCuenta.descripcion}}
                </mat-option>
                <mat-error *ngIf="cantidadPeriodos.invalid">Required field</mat-error>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Tipo Flujo de Fondos</mat-label>
            <mat-select [formControl]="tipoFlujoFondo" [(ngModel)]="consecuencia.tipoFlujoFondo"
                [(value)]="consecuencia.tipoFlujoFondo">
                <mat-option *ngFor="let tipoFlujoFondo of tiposFlujoFondo" [value]="tipoFlujoFondo.key">
                    {{tipoFlujoFondo.descripcion}}
                </mat-option>
                <mat-error *ngIf="tipoFlujoFondo.invalid">Required field</mat-error>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel(consecuencia)">CANCELAR</button>
    <button mat-button (click)="save(consecuencia)">ACEPTAR</button>
</div>