<mat-toolbar color="secundary" *ngIf="usuario && usuario.rol === 'JUGADOR'">
  <h4>Escenarios</h4>
  <span class="spacer"></span>
  <h4 *ngIf="usuario.curso">{{usuario.curso.nombre}}</h4>
</mat-toolbar>
<div class="card-container" *ngIf="usuario && usuario.rol === 'JUGADOR'">
  <mat-card *ngFor="let escenario of escenarios;">
    <div class="escenario-header">
      <div class="escenario-header-cont">
        <span class="escenario-title">{{escenario.titulo | titlecase}}</span>
        <mat-chip-list>
          <mat-chip color="accent" selected *ngIf="escenario.proyecto.proyecto.entregado">ENTREGADO</mat-chip>
        </mat-chip-list>
        <mat-chip-list *ngIf="escenario.escenarioCurso.abierto">
          <mat-chip color="primary" selected>ABIERTO</mat-chip>
        </mat-chip-list>
        <mat-chip-list *ngIf="!escenario.escenarioCurso.abierto">
            <mat-chip color="warn" selected>CERRADO</mat-chip>
          </mat-chip-list>
      </div>
      <span class="escenario-subtitle">{{escenario.descripcion}}</span>
    </div>
    <mat-card-actions>
      <button *ngIf="!escenario.proyecto.proyecto.entregado && escenario.escenarioCurso.abierto" mat-button
        routerLink="/simulaciones/escenario/{{escenario.id}}">JUGAR</button>
      <button *ngIf="escenario.proyecto.proyecto.entregado" mat-button 
        routerLink="/simulaciones/escenario/{{escenario.id}}/resultados">VER RESULTADOS</button>
    </mat-card-actions>
  </mat-card>
</div>