<mat-toolbar color="secundary" >
    <h4>Escenarios</h4>
    <span class="spacer"></span>
    <h4 *ngIf="usuario.curso">{{usuario.curso.nombre}}</h4>
  </mat-toolbar>
<div class="card-container">
    <mat-card *ngFor="let escenario of escenarios;">
      <mat-card-header>
        <mat-card-title>{{escenario.titulo | titlecase}}</mat-card-title>
        <mat-card-subtitle>{{escenario.descripcion}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button routerLink="/simulaciones/escenario/{{escenario.id}}">SIMULAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
  