@media screen and (min-width: 769px) {

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto;
        grid-gap: 10px;
        padding: 20px;
    }

}

@media screen and (max-width: 768px) {

    .card-container > * {
        margin-top: 10px;
    }

}


.mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mat-card-header{
    display: flex;
    justify-content: space-between;
}

.status-icon{
    color: gold;
    margin-right: 5px;
}

.mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spacer {
    flex: 1 1 auto;
}

.escenario-header{
    display: flex;
    flex-direction: column;
}

.escenario-header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

}

.escenario-title{
    font-size: large;
    font-weight: 500;
    margin-top: 5px;
}

.escenario-subtitle{
    margin-top: 10px;
    font-size: small;
    font-weight: 200;
}