
.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    position:absolute;
    background-image: url("../../assets/img/background-building.png");
    background-size: 100% 100%;
}
.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .divider {
      color: black; 
  }

.facebook-button{
    background-color: #4267b2;
    color: white;
    margin-right: 5px;
}

.google-button{
    background-color: #db4437; 
    color: white;
    margin-left: 5px;
}

.card {
    max-width: 400px;
}

  
 .buttons { 
    color:white;
    width: 100%;
}

.full-width {
  width: 100%;
}

.error-snack-bar {
    background: red;
    color: red;
  }

  .signUpRow{
    margin-top: 20px;
  }

  .title {
    font-family: 'Coolvetica', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: xx-large;
    margin-left: 15px;
  }

  .toolbar{
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }