<div *ngIf="!loading">
<mat-toolbar color="primary" class="toolbar">
    <h1 class="title">Augure</h1>
</mat-toolbar>

<div class="back">
    <mat-card class="card">
        <div class="button-row">
            <h1 class="title">Ingresar</h1>
            <button mat-fab class="facebook-button" matTooltip="Login con Facebook" (click)="withFacebook()">
                <mat-icon svgIcon="facebook_icon"></mat-icon>
            </button>
            <button mat-fab class="google-button" matTooltip="Login con Google" (click)="withGoogle()">
                <mat-icon svgIcon="google_icon"></mat-icon>
            </button>
        </div>

        <mat-form-field class="full-width">
            <input matInput placeholder="Email" type="text" [formControl]="email">
            <mat-error *ngIf="email.invalid">Insert a valid email</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="password.invalid">Required value</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="buttons" (click)="withEmail()">Login</button>

        <div class="button-row signUpRow">
            <mat-slide-toggle color="primary" (change)="rememberMe()" [(ngModel)]="rememberMeChecked"
                [(checked)]="rememberMeChecked">Recordarme</mat-slide-toggle>
            <button mat-button color="warn" (click)="openRegisterDialog()">Registrarse</button>
        </div>
    </mat-card>

</div>
</div>