<mat-toolbar color="secundary" *ngIf="escenario">
  <button mat-icon-button routerLink="/simulaciones/escenario/{{escenario.id}}">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h4>Resultados</h4>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Estado">
    <app-estado></app-estado>
  </mat-tab>
  <mat-tab label="Flujo de Fondos">
    <app-flujo-fondos></app-flujo-fondos>
  </mat-tab>
  <mat-tab label="Presupuesto Financiero"></mat-tab>
  <mat-tab label="Presupuesto Economico"></mat-tab>
</mat-tab-group>