<mat-toolbar color="secundary" *ngIf="escenario && proyecto">
  <button *ngIf="proyecto.entregado" mat-icon-button routerLink="/simulaciones">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button *ngIf="!proyecto.entregado" mat-icon-button routerLink="/simulaciones/escenario/{{escenario.id}}">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h4>Resultados</h4>
  <div class="spacer"></div>
  <button *ngIf="!proyecto.entregado" mat-raised-button color="accent" (click)="entregarSimulacion()">ENTREGAR SIMULACION</button>
</mat-toolbar>
<mat-tab-group *ngIf="proyecto" mat-stretch-tabs>
  <mat-tab label="Estado">
    <app-estado [proyecto]="proyecto"></app-estado>
  </mat-tab>
  <mat-tab label="Flujo de Fondos">
    <app-flujo-fondos [proyecto]="proyecto"></app-flujo-fondos>
  </mat-tab>
  <mat-tab label="Presupuesto Financiero">
    <app-presupuesto-financiero [proyecto]="proyecto"></app-presupuesto-financiero>
  </mat-tab>
  <mat-tab label="Presupuesto Economico">
    <app-presupuesto-economico [proyecto]="proyecto"></app-presupuesto-economico>
  </mat-tab>
  <mat-tab label="Balance Final">
    <app-balance-final [proyecto]="proyecto"></app-balance-final>
  </mat-tab>
</mat-tab-group>