<h1 mat-dialog-title>Editar Financiacion</h1>

<div mat-dialog-content>
    <form [formGroup]="financiacionForm" class="form">
        <mat-form-field class="full-width">
            <input matInput placeholder="Descripcion" type="text" [formControl]="descripcion"
                [(ngModel)]="financiacion.descripcion" [(value)]="financiacion.descripcion">
            <mat-error *ngIf="descripcion.invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="TNA" type="number"
                [formControl]="tna" [(ngModel)]="financiacion.tna"
                [(value)]="financiacion.tna">
            <mat-error *ngIf="tna.invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Cantidad Cuotas" type="number"
                [formControl]="cantidadCuotas" [(ngModel)]="financiacion.cantidadCuotas"
                [(value)]="financiacion.cantidadCuotas">
            <mat-error *ngIf="cantidadCuotas.invalid">Required field</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">CANCELAR</button>
    <button mat-button (click)="save()">ACEPTAR</button>
</div>