<div class="card-container">

  <div *ngFor="let decision of decisiones$ | async" class="card">
    <mat-toolbar color="secundary">
      <mat-toolbar-row>
        <h6>{{ decision.id }}. {{ decision.descripcion }}</h6>
        <span class="spacer"></span>
        <button mat-icon-button routerLink="/decisiones/{{ decision.id }}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeDecision(decision.id)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <button mat-flat-button color="secundary" *ngFor="let respuesta of decision.respuestas" class="response-button">{{respuesta.descripcion}}</button>
  </div>
</div>

<a mat-fab color="primary" routerLink="/decisiones/new" class="fab">
  <mat-icon>add</mat-icon>
</a>