<mat-toolbar color="secundary">
  <h4>Estado de Juegos</h4>
</mat-toolbar>

<div class="card-container">
  <mat-card  *ngFor="let curso of cursosTree;">
    <mat-card-header>
      <mat-card-title>{{curso.nombre.toUpperCase()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item *ngFor="let escenario of curso.escenarios" 
        routerLink="/estado-juego/curso/{{curso.id}}/escenario/{{escenario.id}}" > 
          <div class="list-item-cont">
            <span>{{escenario.titulo | titlecase}}</span>
            <mat-chip-list *ngIf="escenario.escenarioCurso && escenario.escenarioCurso.abierto">
              <mat-chip color="primary" selected>ABIERTO</mat-chip>
            </mat-chip-list>
            <mat-chip-list *ngIf="escenario.escenarioCurso && !escenario.escenarioCurso.abierto">
                <mat-chip color="warn" selected>CERRADO</mat-chip>
              </mat-chip-list>
          </div>
        </a>
     </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>