<div *ngIf="balanceFinal" class="balance-container">
    <mat-card class="activo">
        <mat-card-header>
                <div mat-card-avatar class="activo-avatar"></div>
            <mat-card-title>Activo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="list">
                <div class="list-item">
                    <p>Caja</p>
                    <h3>$ {{ balanceFinal.activo.caja.toLocaleString() }}</h3>
                </div>
                <div class="list-item">
                    <p>Cuentas a Cobrar</p>
                    <h3>$ {{ balanceFinal.activo.cuentasPorCobrar.toLocaleString() }}</h3>
                </div>
                <div class="list-item">
                    <p>Inventario</p>
                    <h3>$ {{ balanceFinal.activo.inventario.toLocaleString() }}</h3>
                </div>
                <div class="list-item">
                    <p>Maquinaria</p>
                    <h3>$ {{ balanceFinal.activo.maquinaria.toLocaleString() }}</h3>
                </div>
                <div class="list-item">
                    <p>Amortizacion Acumulada</p>
                    <h3>$ {{ balanceFinal.activo.amortizacionAcumulada.toLocaleString() }}</h3>
                </div>
                <div class="list-item">
                    <p>Otros</p>
                    <h3>$ {{ balanceFinal.activo.otros.toLocaleString() }}</h3>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="total-activo">
        <mat-card-content>
            <div class="list">
                <div class="list-item">
                    <p>Total</p>
                    <h3>$ {{ totalActivo.toLocaleString() }}</h3>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="pasivo">
        <mat-card-header>
                <div mat-card-avatar class="pasivo-avatar"></div>
            <mat-card-title>Pasivo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="list">
                <div class="list-item">
                    <p>Proveedores</p>
                    <h3>$ {{ balanceFinal.pasivo.proveedores.toLocaleString() }}</h3>
                </div>
                <div class="list-item">
                    <p>Deudas Bancarias</p>
                    <h3>$ {{ balanceFinal.pasivo.deudasBancarias.toLocaleString() }}</h3>
                </div>
                <div class="list-item">
                    <p>Otros</p>
                    <h3>$ {{ balanceFinal.pasivo.otros.toLocaleString() }}</h3>
                </div>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card class="patrimonio-neto">
        <mat-card-header>
                <div mat-card-avatar class="patrimonio-neto-avatar"></div>
            <mat-card-title>Patrimonio Neto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="list">
                <div class="list-item">
                    <p>Capital Social</p>
                    <h3>$ {{ balanceFinal.patrimonioNeto.capitalSocial.toLocaleString() }}</h3>
                </div>
                <div class="list-item">
                    <p>Resultado del Ejercicio</p>
                    <h3>$ {{ balanceFinal.patrimonioNeto.resultadoDelEjercicio.toLocaleString() }}</h3>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="total-pasivo-patrimonio-neto">
        <mat-card-content>
            <div class="list">
                <div class="list-item">
                    <p>Total</p>
                    <h3>$ {{ totalPasivoPatrimonioNeto.toLocaleString() }}</h3>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>