<h1 mat-dialog-title>Editar Opcion</h1>

<div mat-dialog-content>
    <form [formGroup]="opcionForm" class="form">
        <mat-form-field class="full-width">
            <input matInput placeholder="Descripción" type="text" [formControl]="descripcion"
                [(ngModel)]="opcion.descripcion" [(value)]="opcion.descripcion" required>
            <mat-error *ngIf="descripcion.invalid">Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Variación de Costo Fijo" type="text"
                [formControl]="variacionCostoFijo" [(ngModel)]="opcion.variacionCostoFijo"
                [(value)]="opcion.variacionCostoFijo" required>
            <mat-error *ngIf="variacionCostoFijo.invalid">Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Variación de Costo Variable" type="text"
                [formControl]="variacionCostoVariable" [(ngModel)]="opcion.variacionCostoVariable"
                [(value)]="opcion.variacionCostoVariable" required>
            <mat-error *ngIf="variacionCostoVariable.invalid">Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Variación de Producción" type="text"
                [formControl]="variacionProduccion" [(ngModel)]="opcion.variacionProduccion"
                [(value)]="opcion.variacionProduccion" required>
            <mat-error *ngIf="variacionProduccion.invalid">Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Variación de Calidad" type="text"
                [formControl]="variacionCalidad" [(ngModel)]="opcion.variacionCalidad"
                [(value)]="opcion.variacionCalidad" required>
            <mat-error *ngIf="variacionCalidad.invalid">Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Variación de Publicidad" type="text"
                [formControl]="variacionPublicidad" [(ngModel)]="opcion.variacionPublicidad"
                [(value)]="opcion.variacionPublicidad" required>
            <mat-error *ngIf="variacionPublicidad.invalid">Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Variación de Cantidad de Vendedores" type="text"
                [formControl]="variacionCantidadVendedores" [(ngModel)]="opcion.variacionCantidadVendedores"
                [(value)]="opcion.variacionCantidadVendedores" required>
            <mat-error *ngIf="variacionCantidadVendedores.invalid">Campo requerido</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">CANCELAR</button>
    <button mat-button (click)="save()">ACEPTAR</button>
</div>