@media screen and (min-width: 769px) {
.content-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 3fr 4fr;
    grid-template-areas: "forecast modalidad-cobro modalidad-pago"  ;
    grid-gap: 20px;
    padding: 20px;
}

.decisiones-container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    padding: 20px;
}




}


.card {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}


.forecast{
    grid-area: forecast;

}

.modalidad-pago {
    grid-area: modalidad-pago;
}

.kpis{
    grid-area: kpis;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    margin-right: 20px;
    margin-top:20px;
}


.decisiones-header{
    grid-area: decisiones-header;

}

.modalidad-cobro{
    grid-area: modalidad-cobro;
}

.proveedor-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
 }

.proveedor{
    margin-bottom: 5px;
}

.respuestas-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.respuesta{
    margin-bottom: 5px;
}

.spacer {
    flex: 1 1 auto;
}

.value-column {
    text-align: right;
    width: 50px;
}

.value-column-cantidad{
    text-align: right;
    width: 100px;
}

.single-number {
    text-align: center;
    align-self: center;
}

.desc-column {
    text-align: left;
}

.table{
    width: 100%;
    background: transparent;
    padding: 10px;
}


.fab {
    position: fixed;
    right: 20px;
    bottom: 15px;
    margin-left: -28px;
  }
  
.single-number-card {
    max-width: 400px;
    min-width: 200px;
    flex-grow: 1;
    margin-left:20px;
}

.escenario-card{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.caja-avatar{
    background-image: url('../../assets/img/caja.png');
    background-size: cover;
}

.ventas-avatar{
    background-image: url('../../assets/img/ventas.png');
    background-size: cover;
}

.produccion-avatar{
    background-image: url('../../assets/img/produccion.png');
    background-size: cover;
}

.costos-avatar{
    background-image: url('../../assets/img/costos.png');
    background-size: cover;
}

.proveedor-avatar{
    background-image: url('../../assets/img/proveedor.png');
    background-size: cover;
}

.precio-avatar{
    background-image: url('../../assets/img/precio.png');
    background-size: cover;
}

.cobro-avatar{
    background-image: url('../../assets/img/cobro.png');
    background-size: cover;
}

.proveedor-column{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.proveedor-value-column {
    text-align: right;
    width: 40px;
}

.poveedor-row {
    height: 100px;
}

.proveedor-desc-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-proveedor{
    padding-left: 28px;
}