@media screen and (min-width: 769px) {

    
.estado-inicial{
    grid-area: estado-inicial;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


.decisiones-container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    padding: 20px;
}

.tab-content{
    padding:20px;
}

.balance-container {
    grid-area: balance;
    display: grid;
    grid-template-columns: 2fr 2fr 4fr ;
    grid-auto-rows: auto auto auto auto;
    grid-template-areas: "activo pasivo estado-inicial" "activo pasivo estado-inicial" "activo pasivo estado-inicial" "activo patrimonio-neto estado-inicial" "total-activo total-pasivo-patrimonio-neto estado-inicial" ;
    grid-gap: 20px;
}

.parametrizacion-container{
    display: grid;
    grid-template-rows:  auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "modalidad-cobro forecast" "modalidad-pago creditos";
    grid-gap: 20px;
}



}


@media screen and (max-width: 768px) {

    .estado-inicial > *{
        margin-top:10px;
        margin-left:10px;
        margin-right:10px;
    }

    .decisiones-container > * {
        margin-top:10px;
        margin-left:10px;
        margin-right:10px;
    }

    .balance-container > * {
        margin-top:10px;
        margin-left:10px;
        margin-right:10px;
    }

    .parametrizacion-container > * {
        margin-top:10px;
        margin-left:10px;
        margin-right:10px;
    }

    .escenario-card{
        margin-top: 10px;
        margin-left:10px;
        margin-right:10px;
    }
}
    

.card {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.creditos{
    grid-area: creditos;
}

.forecast{
    grid-area: forecast;

}

.modalidad-pago {
    grid-area: modalidad-pago;
}

.decisiones-header{
    grid-area: decisiones-header;

}

.modalidad-cobro{
    grid-area: modalidad-cobro;
}

.proveedor-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
 }

.proveedor{
    margin-bottom: 5px;
}

.respuestas-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.respuesta{
    margin-bottom: 5px;
}

.spacer {
    flex: 1 1 auto;
}

.value-column {
    text-align: right;
    width: 50px;
}

.value-column-cantidad{
    text-align: right;
    width: 100px;
}

.single-number {
    text-align: center;
    align-self: center;
}

.desc-column {
    text-align: left;
}

.table{
    width: 100%;
    background: transparent;
    padding: 10px;
}


.fab {
    position: fixed;
    right: 20px;
    bottom: 15px;
    margin-left: -28px;
  }
  
.single-number-card {
 
}

.escenario-card{
    grid-area:escenario;
}

.caja{
    grid-area: caja;
}

.produccion{
    grid-area: produccion;
}

.costo-fijo{
    grid-area: costo-fijo;
}

.costo-variable{
    grid-area: costo-variable;
}

.caja-avatar{
    background-image: url('../../assets/img/caja.png');
    background-size: cover;
}

.ventas-avatar{
    background-image: url('../../assets/img/ventas.png');
    background-size: cover;
}

.produccion-avatar{
    background-image: url('../../assets/img/produccion.png');
    background-size: cover;
}

.costos-avatar{
    background-image: url('../../assets/img/costos.png');
    background-size: cover;
}

.proveedor-avatar{
    background-image: url('../../assets/img/proveedor.png');
    background-size: cover;
}

.precio-avatar{
    background-image: url('../../assets/img/precio.png');
    background-size: cover;
}

.cobro-avatar{
    background-image: url('../../assets/img/cobro.png');
    background-size: cover;
}

.credito-avatar{
    background-image: url('../../assets/img/loan.png');
    background-size: cover;
}

.stock-avatar{
    background-image: url('../../assets/img/stock.png');
    background-size: cover;
}

.calidad-avatar{
    background-image: url('../../assets/img/calidad.png');
    background-size: cover;
}

.proveedor-column{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.proveedor-value-column {
    text-align: right;
    width: 40px;
}

.poveedor-row {
    height: 100px;
}

.proveedor-desc-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-proveedor{
    padding-left: 28px;
}

.credito-row{
    height: 60px;;
}

.monto-cont{
    padding-top:25px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.monto{
    width:100%;
 
}



.activo {
    grid-area: activo;
}

.pasivo {
    grid-area: pasivo;
}

.patrimonio-neto {
    grid-area: patrimonio-neto;
}

.total-activo {
    grid-area: total-activo;
}

.total-pasivo-patrimonio-neto {
    grid-area: total-pasivo-patrimonio-neto;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.activo-avatar{
    background-image: url('../../assets/img/activo.png');
    background-size: cover;
}


.pasivo-avatar{
    background-image: url('../../assets/img/pasivo.png');
    background-size: cover;
}


.patrimonio-neto-avatar{
    background-image: url('../../assets/img/patrimonio-neto.png');
    background-size: cover;
}

.publicidad-avatar{
    background-image: url('../../assets/img/publicity.png');
    background-size: cover;
}

.teamwork-avatar{
    background-image: url('../../assets/img/teamwork.png');
    background-size: cover;
}

.mat-icon-star-size{
    font-size: 15px;
}

.good-var{
    color: #24dd24;
    font-style: italic;
}

.bad-var{
    color: #ff5353;
    font-style: italic;
}

.plus-var:before {
    content: " + ";
}