<div *ngIf="usuario" class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="title">Augure</h1>
    <span class="spacer"></span>
    <button *ngIf="user" mat-icon-button [matMenuTriggerFor]="menu">

    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Profile</span>
      </button>
      <button mat-menu-item color="warn" (click)="logout()">
        <span>Log Out</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

    <mat-sidenav opened mode="side" class="sidenav-container" #sidenav disableClose>
      <div class="img-container" *ngIf="user">
        <img src="{{user.photoURL}}" style="height: 150px; border-radius: 50%">
        <span>{{user.displayName}}</span>
        <div>
          <span style="font-weight:100;" *ngIf="usuario.curso">{{usuario.curso.nombre}}</span> 
          <button style="margin-left: 10px;" class="edit-icon-small" mat-icon-button (click)="matricularUsuario(usuario)">
            <mat-icon class="edit-icon-small">edit</mat-icon>
          </button>
        </div>
      </div>
      <mat-nav-list>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>play_circle_outline</mat-icon>
          <a mat-list-item class="button" routerLink="/simulaciones">Simulaciones</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>grade</mat-icon>
          <a mat-list-item class="button" routerLink="/premios">Premios</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>build</mat-icon>
          <a mat-list-item class="button" routerLink="/escenarios">Escenarios</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>games</mat-icon>
          <a mat-list-item class="button" routerLink="/estado-juegos">Estado de Juegos</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>group</mat-icon>
          <a mat-list-item class="button" routerLink="/cursos">Cursos</a>
        </mat-list-item>
        <mat-divider></mat-divider>

      </mat-nav-list>

      <mat-nav-list class="logout">
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-button mat-line class="button" (click)="logout()">Salir</button>
        </mat-list-item>
      </mat-nav-list>


    </mat-sidenav>
  </mat-sidenav-container>
</div>