<div class="jugadores-container">
  <mat-card class="general">
    <mat-card-header>
      <mat-card-title>Ranking General</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list *ngIf="escenarioCurso">
        <mat-list-item *ngFor="let jugador of escenarioCurso.jugadores; let i = index">
          <div class="ranking-list-item">
            <div class="ranking-list-item-avatar">
              <img matListAvatar src="{{getMedalUrlByIndex(i)}}" style="margin-right: 5px;">
              <div class="jugador-header-cont">
                  <span style="font-weight: 400; font-size: inherit;">{{jugador.usuarioNombre}}</span>
                  <span style="font-weight: 300; font-size: inherit;">{{jugador.puntaje}} puntos</span>
              </div>
            </div>
            <img *ngIf="jugador.usuarioFotoUrl" matListAvatar src="{{jugador.usuarioFotoUrl}}">
            <img *ngIf="!jugador.usuarioFotoUrl" matListAvatar src="../../assets/img/student.png">
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-accordion class="charts-accordion headers-align">
    <mat-expansion-panel expanded="true" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="../../assets/img/caja.png" class="avatar-img">
            Mejor Caja Final
          </mat-panel-title>
          <!--mat-panel-description>
            <div style="display: flex; margin-right: 20px;">
              <img src="../../assets/img/one.png" class="number-avatar">
              <span>+0</span>
            </div>
            <div style="display: flex;  margin-right: 20px;">
              <img src="../../assets/img/two.png" class="number-avatar">
              <span>+0</span>
            </div>
            <div style="display: flex;  margin-right: 20px;">
              <img src="../../assets/img/three.png" class="number-avatar">
              <span>+0</span>
            </div>
            <div style="display: flex;  margin-right: 20px;">
              <img src="../../assets/img/four.png" class="number-avatar">
              <span>+0</span>
            </div>
            <div style="display: flex;  margin-right: 20px;">
              <img src="../../assets/img/five.png" class="number-avatar">
              <span>+0</span>
            </div>
          </mat-panel-description-->
        </mat-expansion-panel-header>
        <div class="canvas-container" *ngIf="cajaChartProps">
          <canvas baseChart [datasets]="cajaChartProps.data" [labels]="cajaChartProps.labels"
            [options]="cajaChartProps.options" [legend]="cajaChartProps.legend"
            [chartType]="cajaChartProps.type">
          </canvas>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="../../assets/img/ventas.png" class="avatar-img">
            Mejores Ventas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="ventasChartProps" class="canvas-container">
          <canvas baseChart [datasets]="ventasChartProps.data" [labels]="ventasChartProps.labels"
            [options]="ventasChartProps.options" [legend]="ventasChartProps.legend"
            [chartType]="ventasChartProps.type">
          </canvas>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="../../assets/img/costos.png" class="avatar-img">
          Mejor Renta
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="canvas-container" *ngIf="rentaChartProps">
        <canvas baseChart [datasets]="rentaChartProps.data" [labels]="rentaChartProps.labels"
          [options]="rentaChartProps.options" [legend]="rentaChartProps.legend"
          [chartType]="rentaChartProps.type">
        </canvas>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>